.card-mcq {
    position: absolute;
    z-index: 1;
    left: 2em;
    top: 2em;
    width: 30% ;
    background-color: #cab9c9;
    border: 1px solid #cab9c9;
    border-radius: 12px;
    padding: 2% ;
    box-shadow: 0 2px 4px rgba(147, 132, 215, 0.811);
}

.card-mcq ul {
list-style: none;
margin: 0;
/* padding: 20px; */
}

.card-mcq ul li {
margin-bottom: 30px;
}

.card-mcq label {
display: inline-block;
margin-left: 5px;
font-size: 0.71em
2px;
}


.card-mcq input[type="radio"] {
margin-right: 5px;
}